/ESS/
/README.el
*~
/bookmarks
/elpa/
/eshell/
/network-security.data
/old-myinit.org
/projectile-bookmarks.eld
/projectile.cache
/racket-mode/
/recentf
/themes/
/transient/
/semanticdb/
/elpy/
/.lsp-session-v1
/.custom.el
